@import "normalize.css";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

body {
  background: #d4d4d4;
}

.container {
  width: 100%;
  height: 100vh;
}
@mixin video-landscape {
  video {
    height: 100%;
  }
}
@mixin video-portrait {
  video {
    width: 100%;
  }
}
.playground {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  &.landscape {
    &.c-3,
    &.c-4{
      flex-direction: column;
    }
    .video-wrap {
      &.s1-1 {
        width: 100%;
        height: 100%;
        @include video-landscape
      }
      &.s1-2, &.s2-2  {
        width: 50%;
        height: 100%;
        @include video-portrait
      }
      &.s1-3 {
        width: 50%;
        height: 100%;
        @include video-portrait
      }
      &.s2-3, &.s3-3 {
        width: 50%;
        height: 50%;
        @include video-landscape

      }
      &.s1-4,&.s2-4,&.s3-4,&.s4-4 {
        height: 50%;
        width: 50%;
        @include video-landscape
      }
    }
  }
  &.portrait {
    .video-wrap {
      &.s1-1 {
        width: 100%;
        height: 100%;
        @include video-portrait
      }
      &.s1-2, &.s2-2 {
        width: 100%;
        height: 50%;
        @include video-landscape
      }
      &.s1-3 {
        width: 100%;
        height: 50%;
        @include video-landscape
      }
      &.s2-3, &.s3-3 {
        width: 50%;
        height: 50%;
        @include video-portrait
      }
      &.s1-4,&.s2-4,&.s3-4,&.s4-4 {
        height: 50%;
        width: 50%;
        @include video-portrait
      }
    }
  }
  .video-wrap {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-sizing: border-box;

    &.active {
      border: 1px solid white;

      //opacity: .5;
    }
  }

}

.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  @include media-breakpoint-up(md) {
    max-width: 636px;
    left: 50%;
    transform: translateX(-50%);
  }
  .add {
    position: absolute;
    top: -25px;
    left: 85%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background: white;
    z-index: 4;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }

  .panel {
    height: 183px;
    transition: height .5s;
    background: white;
    border-radius: 20px 20px 0 0;
    .timeline {
      border-radius: 10px 10px 0 0;
    }
    .actions {
      border-radius: 0 0 10px 10px;
    }
    .timeline,.actions {
      transition: opacity .5s;
      opacity: 1;
    }
    .control-buttons {
      transition: opacity .5s;
      opacity: 0;
      height: 0;
      .block {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .button {
          display: none;
        }
      }
      .icon {
        width: 36px;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
    }
    &.hide {
      height: 50px;
      .timeline,.actions {
        opacity: 0;
      }
      .control-buttons {
        opacity: 1;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        .block {
          .button {
            display: block;
          }
        }
      }
    }
  }
}
*::-webkit-scrollbar {
  display: none;
}
.timeline {
  background: white;
  position: relative;
  padding: 10px 10px 10px 10px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: scroll;
  .progress-bar {
    position: relative;
    //white-space: nowrap;
    width: fit-content;
    margin: 0 auto;
    //margin-right: 10px;
    .indicator {
      position: absolute;
      height: 100%;
      width: 2px;
      background: black;
      left: 60%;
      top: 0;
      z-index: 3;
    }

    .action-wrap {
      width: fit-content;
      white-space: nowrap;
      //display: flex;
      //flex-direction: row;
    }

    .action {
      position: relative;
      display: inline-block;
      width: 50px;
      cursor: pointer;
      //margin: 0 -6px 0 0;
      .slot {
        position: relative;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        background: #F5E9FB;
        z-index: 2;
        img {
          width: 100%;
        }
      }

      .bar {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 15px;
        background: #F5E9FB;
        transform: translateY(-50%);
        z-index: 1;
      }

      &:first-of-type {
        .bar {
          border-radius: 10px 0 0 10px;
        }
      }

      &:last-of-type {
        margin-right: 0;
        .bar {
          border-radius: 0 10px 10px 0;
        }
      }
    }
  }
}

.actions {
  overflow: scroll hidden;
  background: #F5E9FB;
  padding: 10px;
  //width: 100%;


  .action-wrap {
    width: auto;
    white-space: nowrap;
    text-align: center;

    .action {
      display: inline-block;
      width: 60px;
      height: 60px;
      background: transparent;
      opacity: 0.99;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 5px;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }
}
img {
  width: 100%;
}

.dragging {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.99;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 5px;
  cursor: pointer;
}

.collapse {
  display: flex;
  justify-content: center;
  cursor: pointer;
  .button {
    width: 30px;
  }
}